body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

/* View: items list */
..items {
  list-style: none;
}

.items li{
  clear: both;
  height: 50%; /*115px;*/
  width: 70%;
  padding-top: 15px;
  margin: 1em;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

/* View: item detail */
.item {
  background-color: white;
  /*display: none;*/
  float: left;
  height: 200px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 200px;
}

.item-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 800px; /*450px;*/
}

.item-thumbs {
  list-style: none;
  margin: 0;
}

.item-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.item-thumbs li {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    margin: 1em;
}

.list-description {
    margin: 1em;
    padding-left: 100px;
}

.detail-contoroller {
  margin: .5em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}

.item-detail-description {
  background-color: rgba(201, 76, 76, 0.3);
  height: 450px;
  /*min-width: 400px;*/
}

.item-detail-overview {
  background-color: rgba(101, 176, 176, 0.3);
  height: 450px;
}

.item-list-item {
    cursor: pointer;
}

.detail-select {
    margin: .5em;
}

.cart-button {
    margin-right: 1em;
}

.itemlist-wrapper {
    border-width: 5px;
    border-style: solid;
    overflow-y: scroll;
    height: 500px;
}

.tooltip {
    /*
    height: 10px;
    background-color: #73AD21; 
    color: #FFFFFF; 
    border: 1px solid green;
    padding: 5px;
    font-size: 20px;*/
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
    opacity: .7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
