<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        <!--Sidebar content-->
            <div class="form-group">
                <label for="search">Search: </label>
                    <input type="text" class="form-control" id="search" ng-model="$ctrl.query" />
            <!--
                <p>
                    Query: {{$ctrl.query}}
                </p>
            -->

                <label for="sort">Sort by: </label>
                    <select class="form-control" id="sort" ng-model="$ctrl.orderProp">
                        <option value="age">Newest</option>
                        <option value="-age">Oldest</option>
                        <option value="name">Alphabetical-Name</option>
                        <option value="description">Alphabetical - Description</option>
                    </select>
            </div>
        </div>
        <div ng-scrollbars id="itemlist" class="col-md-10 content">
            <!--Body content-->

            <h3>
                {{$ctrl.title}} --Templated
            </h3>
            <p>Total number of items: {{$ctrl.items.length}}</p>
            <div style="border-width: 5px; border-style: solid; overflow-y: scroll; height: 700px" class="itemlist-wrapper">
                <ul class="items" infinite-scroll="$ctrl.loadMoreItems()" infinite-scroll-parent="true" >
                    <li class="thumbnail item-list-item"
                        ng-repeat="item in $ctrl.items | filter:$ctrl.query | orderBy:$ctrl.orderProp"
                        ng-mouseover="$ctrl.showPopOver(item)"
                        ng-mouseleave="$ctrl.hidePopOver()"
                        ng-click="$ctrl.setDetailView(item)"
                        title="Please click to select details"
                        style="cursor: pointer;"
                    >
                        <img class="thumb" 
                            ng-src="{{item.imageUrl}}" alt="{{item.name}}" 
                         />
                        <h4>{{item.name}}</h4>
                        <p>{{item.description}}</p>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="item-images item-details item-popover" ng-class="{selected: $ctrl.popOverIsVisible, 'detail-active': $ctrl.isDetailViewOpen}">
            <button class="close" type="button" title="Close Window" ng-click="$ctrl.closeDetailView()">×</button>
            <div class="row">
                <div class="col-md-3 item-detail-overview">
                    <img class="item"
                        ng-repeat="item in $ctrl.items" 
                        ng-src="{{item.imageUrl}}"
                        ng-class="{selected: item.imageUrl === $ctrl.mainImageUrl && $ctrl.popOverIsVisible}"
                        ng-show="item.imageUrl === $ctrl.mainImageUrl && $ctrl.popOverIsVisible && item.id === $ctrl.activeItemId"
                        alt="{{item.name}}"
                    />
                    <div ng-hide="$ctrl.isDetailViewOpen">Click to Select Details</div>
                    <div ng-show="$ctrl.isDetailViewOpen">
                        <div class="form-group">
                            <label for="selectcolor">Select Color:</label>
                            <select class="form-control" id="selectcolor" ng-model="">
                                <option value="age">Color 1</option>
                                <option value="-age">Color 2</option>
                                <option value="name">Color 3</option>
                                <option value="description">Color 4</option>
                            </select>
                            <label for="selectsize">Select Size:</label>
                            <select class="form-control" id="selectsize" ng-model="">
                                <option value="age">Size 1</option>
                                <option value="-age">Size 2</option>
                                <option value="name">Size 3</option>
                                <option value="description">Size 4</option>
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit" ng-show="$ctrl.isDetailViewOpen">Add to cart</button>
                    </div>
                </div>
                <div class="col-md-9 item-detail-description"
                    ng-repeat="item in $ctrl.items"
                    ng-class="{selected: item.imageUrl === $ctrl.mainImageUrl && $ctrl.popOverIsVisible}"
                    ng-show="item.imageUrl === $ctrl.mainImageUrl && $ctrl.popOverIsVisible && item.id === $ctrl.activeItemId"
                >
                    <p>IMAGE: {{$ctrl.mainImageUrl}}</p> 
                    <p>popovervisibl?.: {{$ctrl.popOverIsVisible}}</p>
                    <p>iomage same?: {{item.imageUrl === $ctrl.mainImageUrl}}</p>
                    <h4>{{item.name}}</h4>
                    <p>{{item.description}}</p>
                    <p>Added on: {{item.age}}</p>
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="row">
        <div class="col-md-12">
            <p>INFINIT scroll below:</p>
            <div infinite-scroll="$ctrl.loadMore()" infinite-scroll-distance="3">
                <img ng-repeat='image in $ctrl.demoImages' ng-src='http://placehold.it/225x250&text={{image}}'>
            </div>
        </div>
    </div>
-->
</div>
