<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        <!--Sidebar content-->

        <p>
            Search: 
            <input ng-model="$ctrl.query" />
        </p>

        <p>
            Query: {{$ctrl.query}}
        </p>

        <p>
            Sort by:
            <select ng-model="$ctrl.orderProp">
                <option value="age">Newest</option>
                <option value="-age">Oldest</option>
                <option value="name">Alphabetical-Name</option>
                <option value="description">Alphabetical - Description</option>
            </select>
        </p>

        </div>
        <div class="col-md-10">
            <!--Body content-->

            <h3>
                {{$ctrl.title}} --Templated
            </h3>
            <ul class="phones">
                <li ng-repeat="item in $ctrl.items | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
                    <a href="#/phones/{{item.id}}" class="thumb">
                        <img ng-src="{{item.imageUrl}}" alt="{{item.name}}" />
                    </a>
                    <a href="#/phones/{{item.id}}">{{item.name}}</a>
                    <p>{{item.description}}</p>
                </li>
            </ul>
            <p>Total number of items: {{$ctrl.items.length}}</p>

        </div>
    </div>
</div>
